.grid{
    width: 400px;
    height: 600px;
    /* background-image: url("https://img.freepik.com/free-photo/graph-paper_1160-371.jpg?w=740&t=st=1675439353~exp=1675439953~hmac=f44eec40f49c772fc2ae1e54064004483152605341be04e72b6ca401419382d9"); */
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-size: 5rem;
    text-align: center;

}

.doodler{
    width: 60px;
    height: 85px;
    /* background-color: red; */
    background-image: url("./images/doodle.png");
    background-size: cover;
    position: absolute;
}

.platform{
    width: 85px;
    height: 28px;
    background-image: url("./images/platform.png");
    background-size:cover ;
    position: absolute;
    border-radius: 20px;
}

body{
    display: flex;
    justify-content: center;
}